{% extends "base.html" %}

{% block content %}
{% if not request.user.is_authenticated %}
    <div style="margin-top: 30px;">
        <form method="post">
            {% csrf_token %}
            
            {{ form.as_p }} <!--i remove the old form making and put the form.as_p cos it is already statef in the login view of account app-->
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account. create one now<a href="/register"> REGISTER </a></p>
    </div>
{% else %}
<p>you're already logged in. would you like to  <a href='/logout/'></a> logout? </p>
{% endif %}



{% endblock content %}