{% extends "base.html" %}

{% block content %}
{% if not request.user.is_authenticated %}
    <div style="margin-top: 30px;">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Register</button>
        </form>
        <p>Already have an account please<a href="/login">LOGIN</a></p>
    </div>
{% else %}
<p>you're already logged in and cannot register. do you want to <a href='/logout/'>logout</a></p>
{% endif %}



{% endblock content %}